body {
  background-color: #2A9D8F;
}

.wrapper {
  width:100%;
}
.container {
  margin-left:auto;
  margin-right:auto;
  width:90%; 
  max-width:1000px;
  
}
.flex-outer ul {
  max-width:800px;
}

.flex-outer > li {
  padding-top:20px;
  padding-bottom:20px;
  width:100%;
  display:flex;
  flex: wrap;
  justify-content:space-between;
}

.flex-inner {
  display:flex;
  justify-content:space-between;
  width:100%;
  flex:wrap;
  max-width:600px;
}

.flex-outer {
  color:white;
 
}

.flex-outer button {
  padding:20px 40px;
  text-transform:uppercase;
  border:1px solid #fff;
  background:transparent;
  color:white;
  font-weight:800;
  letter-spacing:2px;
}

